#planet_modal {
  position: fixed;
  top: 81px;
  /* bottom: calc(100% + 81px); */
  background: white;
  min-height: 50em;
  height: calc(100vh - 81px);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.planet_model_back_arrow {
  position: fixed;
  right: 0.5em;
  top: 2em;
  font-size: 3em;
}
