#planet_modal {
  position: fixed;
  top: 81px;
  background: white;
  min-height: 50em;
  height: calc(100vh - 81px);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
